<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Subscription</title>
</head>
<body>
<form action="/addSpending" th:object="${subscription}" method="post">
    <input th:field="*{name}" type="text" placeholder="name">
    <input th:field="*{price}" type="number" placeholder="price">
    <input th:field="*{duration}" type="text" placeholder="duration">
    <input th:field="*{paymentFrequency}" type="text" placeholder="frequency">
    <input type="submit" name="submit" value="create">
</form>
</body>
</html>