<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subscription Details</title>
</head>
<body>
<form action="/update" method="post" th:object="${subscription}">
    <div><label>ID</label><input type="text" th:field="*{id}" readonly></div>
    <div><label>Name</label><input type="text" th:field="*{name}"></div>
    <div><label>Price</label><input type="number" th:field="*{price}"></div>
    <div><label>Duration</label><input type="text" th:field="*{duration}"></div>
    <div><label>Frequency</label><input type="text" th:field="*{paymentFrequency}"></div>
    <div><input type="submit" name="update" value="update"></div>
</form>
</body>
</html>